<!-- app/templates/user/orders_table.html -->
<tbody>
  {% for order in orders_data %}
  <tr>
    <th scope="row">{{ order.order_number }}</th>
    <td>{{ order.year }}</td>
    <td>{{ order.week }}</td>
    <td>{{ order.day }}</td>
    <td>{{ order.total_price }}</td>
    <td>
      {% if order.is_open %}
        <form action="{% url 'delete_order' order.order_number %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm">Kustuta</button>
        </form>
      {% else %}
        Tellimus on juba suletud
      {% endif %}
    </td>
  </tr>
  <tr>
    <td colspan="6">
      <ul>
        {% for detail in order.details %}
          <li>{{ detail.menu_id__dish_id__dish_name }} - {{ detail.quantity }}</li>
        {% endfor %}
      </ul>
    </td>
  </tr>
  {% empty %}
