<!-- app/templates/user/service.html -->
{% extends "user/homebase.html" %}
{% load static %}
{% block content %}
{% for message in messages %}
{% if message.tags == 'error' %}
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
{% else %}
   <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
{% endif %}
{{ message }}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="container">
    <h1>Kasutajanimi = {{ user.username }}</h1>
    <div class="row">            
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary me-2" onclick="location.href='{% url 'run_archive_expired_orders' %}'">Aegunud teelimuste arhiveerimine</button>
            <button type="button" class="btn btn-primary me-2" onclick="location.href='{% url 'run_send_orders_email' %}'">Tellimuste saatmine operaatorile</button>
            <button type="button" class="btn btn-primary me-2" onclick="location.href='{% url 'run-tabel-number' %}'">Töötaja numbrite kontroll</button>
            <a type="button" class="btn btn-primary" href="/366">Django admin</a>
        </div>
    </div>
</div>
{% endblock %}