<!--app/templates/registration/password_reset.html-->
{% extends "app/base.html" %}
{% block form %} 
    <h1>Unustasid parooli?</h1>
    <form class="form p-4 p-md-5 border rounded-3 bg-body-tertiary" action="." method="post">
        <p>Sisesta oma e-posti aadress, et saada parooli lähtestamise link.</p>
          <div class="form-floating mb-3">        
            <input type="email" name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" required>
            {{ form.email.label_tag }}
          </div>
        <input type="submit" class="btn btn-lg btn-primary" value="Saada kiri">
        {% csrf_token %}
    </form>
{% endblock %}