<!-- templates/registration/password_rst_confirm.html -->
{% extends "app/base.html" %}

{% block form %}
<h1>Parooli lähtestamine</h1>
<p>Palun looge uus parool.</p>
<form method="post" class="form p-4 p-md-5 border rounded-3 bg-body-tertiary">
    {% csrf_token %}
    <table>
        <tr>
            <td><label for="{{ form.new_password1.id_for_label }}" class="form-label">Uus parool:</label></td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% if form.new_password1.errors %}
                    <div class="alert alert-danger">{{ form.new_password1.errors }}</div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="{{ form.new_password2.id_for_label }}" class="form-label">Korda parooli:</label></td>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% if form.new_password2.errors %}
                    <div class="alert alert-danger">{{ form.new_password2.errors }}</div>
                {% endif %}
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Lähtesta parool</button>
</form>
{% endblock %}