<!--app/templates/app/menu.html -->
{% block content %}
<div class="col align-items-start">
    <h2 class="display-4 lh-1 text-body-emphasis mb-3">Käesoleva nädala menüü</h2>    
    <ul class="list-group">
      {% for day, categories in grouped_menu.items %}
      {%if day == 'Esmaspäev' %}
      <li class="list-group-item bg-primary-subtle">
        <strong class="primary">{{ day }}</strong>
        {% elif day == 'Teisipäev'%}
        <li class="list-group-item bg-success-subtle">
          <strong class="primary">{{ day }}</strong>
          {% elif day == 'Kolmapäev'%}
          <li class="list-group-item bg-danger-subtle">
            <strong class="primary">{{ day }}</strong>
            {% elif day == 'Neljapäev'%}
            <li class="list-group-item bg-warning-subtle">
              <strong class="primary">{{ day }}</strong>   
              {% elif day == 'Reede'%}
              <li class="list-group-item bg-info-subtle">
                <strong class="primary">{{ day }}</strong>
        {%endif%}
        {% for category, dishes in categories.items %}
        {% if category == 'Supp'%}
        <li class="list-group-item"><i class="fi fi-bs-soup"></i> {{ category }}:
        {% elif category == 'Lisand' %}
        <li class="list-group-item"><i class="fi fi-bs-french-fries"></i> {{ category }}:
        {% elif category == 'Pearoad' %}
        <li class="list-group-item"> <i class="fi fi-bs-turkey"></i> {{ category }}: 
        {% elif category == 'Salat' %}
        <li class="list-group-item"><i class="fi fi-bs-salad"></i> {{ category }}: 
        {% else %}
        <li class="list-group-item">{{ category }}:
        {% endif %}
            <ul>
              {% for dish, price in dishes %}
                <li>{{ dish }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}